<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-join" role="menuitem"><a href="{{site.baseurl}}join/">Join us</a></li>
    <li class="nav-other" role="menuitem"><a href="{{site.baseurl}}other-seens/">Other SEENs</a></li>
    <li class="nav-faq" role="menuitem"><a href="{{site.baseurl}}faq/">FAQ</a></li>
    <li class="nav-myths" role="menuitem"><a href="{{site.baseurl}}myths/">Myths</a></li>
    <li class="nav-impartiality" role="menuitem"><a href="{{site.baseurl}}posts/2023-11-21-impartiality-and-finding-common-ground/">Impartiality</a></li>
    <li class="nav-tolerance" role="menuitem"><a href="{{site.baseurl}}posts/2022-11-22-on-tolerance/">Tolerance</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{site.baseurl}}contact/">Contact</a></li>
</ul>
